export SYMON_CLIENT_PORT=8080
export SYMON_CLIENT_COLLECTOR_ENDPOINT=
export SYMON_CLIENT_COLLECTOR_ENDPOINT_CA_CERT_PATH=
# how often the dashboard reloads live data
export SYMON_CLIENT_REFRESH_SECONDS=15
export SYMON_CLIENT_LOG_FILE_ENABLED=
export SYMON_CLIENT_LOG_FILE_PATH=
export SYMON_KEY=''
