@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    background-color: #2C3E50;
    font-family: 'JetBrains Mono', monospace;
    color: #fff;
}

.main {
    width: 80%;
    margin: auto;
}

.title {
    text-align: center;
}

.server-list {
    display: flex;
    flex-wrap: wrap;
}

.server-item {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 50px;
    min-width: 150px;
    border: 2px solid #fff;
    text-align: center;
    background-color: #515d69;
    cursor: pointer;
}

.server-status {
    width: 20px;
    height: 100%;
    background-color: #FFC300;
}

.server-name {
    width: 100%;
    height: 100%;
}

.active {
    background-color: green;
}
