* {
    font-family: "Fira Code", monospace;
}

.main {
    max-width: 90vw;
    margin: auto;
}

.switches {
    display: inline-flex;
}

.spacer {
    width: 4em;
}

#disks {
    display: inline-flex;
    white-space: nowrap;
}

.strong-td {
    font-weight: bold;
    padding-right: 20px;
}

canvas {
    margin: auto;
}