* {
    font-family: "Fira Code", monospace;
}

#loader {
    position: fixed;
    left: 50%;
    bottom: 50%;
}

body {
    padding: 20px;
}

.main {
    max-width: 90vw;
    margin: auto;
    display: none;
}

.switches {
    display: inline-flex;
}

label {
    color: #000 !important;
}

.spacer {
    width: 1em;
}

#disks, #networks {
    display: inline-flex;
    white-space: nowrap;
}

.strong-td {
    font-weight: bold;
    padding-right: 20px;
}

canvas {
    margin: auto;
}