* {
    font-family: "Fira Code", monospace;
}

#loader {
    position: fixed;
    left: 50%;
    bottom: 50%;
}

body {
    padding: 20px;
}

main {
    display: none;
}

.switches {
    display: inline-flex;
}

#date-range-row {
    display: none;
}

label {
    color: #000 !important;
}

.spacer {
    width: 0.5em;
}

#disks, #networks {
    display: inline-flex;
    white-space: nowrap;
}

.strong-td {
    font-weight: bold;
    padding-right: 20px;
}

canvas {
    margin: auto;
}

header, main, footer {
    padding-left: 250px;
}

@media only screen and (max-width: 992.99px) {
    .sidenav.sidenav-fixed {
        -webkit-transform: none !important;
        transform: none !important;
    }
}

.sidenav {
    width: 250px;
}

.sidenav li>h5 {
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
}